.side-bar
 .side-bar__header
  .side-bar__header__box
   %p.side-bar__header__box__user-name
    = current_user.name
   %ul.side-bar__header__box__menu
    %li.side-bar__header__box__menu__new
     = link_to new_group_path  do
      = icon('far', 'edit', class: "side-bar__header__box__menu__new")
    %li.side-bar__header__box__menu__edit
     = link_to edit_user_path(current_user) do
      = icon('fas', 'cog', class: 'side-bar__header__box__menu__edit')
 .side-bar__group-list
  - current_user.groups.each do |group|
   .side-bar__group-list__group
    = link_to group_messages_path(group) do
     .side-bar__group-list__group__item
      = group.name
     .side-bar__group-list__group__latest-message
      = group.show_last_message



